@keyframes current {
    /* current page in nav bar changes colors */
    0%   {background-color:rgb(145, 221, 249)}
    25%  {background-color:rgb(66, 163, 247)}
    50%  {background-color:rgb(145, 221, 249)}
    75%  {background-color:rgb(66, 163, 247)}
    100% {background-color:rgb(145, 221, 249)}
}

@keyframes header2 {
    /* header (ex. name of pet) grows and shrinks */
    0%   {font-size: 25px;}
    25%  {font-size: 30px;}
    50%  {font-size: 25px;}
    75%  {font-size: 30px;}
    100% {font-size: 25px;}
}

nav {
    display: flex;
    /* "Pets", "Travel", "Recipes" */
    background-color:#dfe8fd;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color:#dfe8fd;
    justify-content: center;
    align-content: center;
}

nav li {
    display: inline-block;
    padding: 5px;
}

nav a {
    padding: 5px;
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: solid blue;
    align-self: center;
}

nav a:hover {
    background-color: rgb(179, 255, 255);
}

figure {
    display: grid;
    grid-column: 1 / span 3;
}

.grid {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;

	/* Play with: */
	/* justify-content:; */
	/* justify-items:;  */
	/* align-items:; */
	/* align-content:; */
}

h2 { grid-column: 1 / span 3; }
.country { grid-column: 1 / span 3; }
.image1 { grid-column: 1 / span 3; }
.image2travel { grid-column: 1 / span 3; }

.p1 { grid-column: 1 / span 3; justify-self: center; }
.p2 { grid-column: 1 / span 3; justify-self: center; }
.p3 { grid-column: 1 / span 3; justify-self: center; }
.thumbnail { grid-column: 1 / span 3; margin-top: 0;}
.p4 { grid-column: 1 / span 3; }
.ingredients { grid-column: 1 / span 3; }
.recipe-ul { grid-column: 1 / span 3; }
.steps { grid-column: 1 / span 3; }
.recipe-ol { grid-column: 1 / span 3; }

.gallery { grid-column: 1 / span 3; }
.image2 { grid-column: 1 / span 3; }
.image3 { grid-column: 1 / span 3; }
.cap3 { grid-column: 1 / span 3; }
.image4 { grid-column: 1 / span 3; }
.cap4 { grid-column: 1 / span 3; }
.image5 { grid-column: 1 / span 3; }
.cap5 { grid-column: 1 / span 3; }
.image6 { grid-column: 1 / span 3; }
.cap6 { grid-column: 1 / span 3; }
.image7 { grid-column: 1 / span 3; }
.cap7 { grid-column: 1 / span 3; }

.likes { grid-column: 1 / span 3; }
.ul { grid-column: 1 / span 3; }

li {
    grid-area: 12 / 1 / span 1 / span 3;
    line-height: 1.25;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

h1 {
    font-family: 'Courier';
    font-size: 40px;
    text-align: center;
    margin: 40px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Courier';
    font-size: 25px;
    color: #0F1F99;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
    justify-content: center;

    animation-name: header2;
    animation-duration: 1.5s;
    animation-iteration-count: 1.5;
}

h3 {
    font-family: 'Courier';
    font-size: 15px;
    color: #0F1F99;
    text-align: center;
    margin: 10px;
}

body {
    font-family: 'Courier';
    color: #0F1F99;
    background-color: #b3c7f7;
    margin: 20px;
}

.main {
    visibility: hidden;
    display: none;
}

#currentpage {
    text-decoration: underline;
    background-color: rgb(145, 221, 249);
    border: solid 2px #0F1F99;
    font-weight:bolder;
    text-decoration: underline;
    text-decoration-color: solid blue;

    animation-name: current;
    animation-duration: 1.5s;
    animation-iteration-count: 1.5;
} 

p {
    line-height: 1.25;
    text-indent: 30px;
    font-size: 10px;
}

figcaption {
    line-height: 1.25;
    text-align: center;
    font-size: 10px;
}

.country {
    font-family: 'Courier';
    font-size: 15px;
    color: #0F1F99;
    text-align: center;
    margin: 5px;
}

img {
    border-width: 5px;
    border-color: #d9e4ff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    justify-self: center;
    align-self: center;
    padding: 10px;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    transition: width 2s;
}

img:hover {
    width: 500px;
}

.image1 {
    margin-top: 0px;
}

/* .thumbnail {
    border: #0F1F99;
}

#skip {
    position: absolute;
    left: -500px;
}

#skip:focus {
    left: 600px;
}

#skip {
    text-transform: uppercase;
}

} */
  
@media screen and (min-width: 866px){

    .main {
        visibility: visible;
        display: contents;
    }

    .grid{
        display: grid;
        grid-row-gap: 5px;
        grid-column-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 80px;
    }

    .image1 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    
    .image2 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    
    .image3 {
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;
    }
    
    .image4 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }
    
    .image5 {
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
    }
      
    .style1:hover {
        background: #067dc2;
        text-decoration: none;
    }

	body{
		background-color: green;
	}

	/* Make this a three column grid using fr. */
	.grid{

		/* Why don't we bother with justify here? */
	}
	.item3{
		/* Start in row 2 and span two rows 
		   Start in column 2 and span two columns */


		/* What happens if you try to span 3 columns */
	}

	
}

@media (prefers-reduced-motion: reduce) {
    .gif {
      /* Stop the animation */
      display: none !important;
    }

    #currentpage {
        animation: none;
    }

    h2 {
        animation: none;
    }

    img:hover {
        width: 400px;
    }
}